  <%= form_for @conn, Routes.page_path(@conn, :create) ,fn f -> %>
     <%= submit "Log in", class: "button" %>
  <% end %>
  <%= form_for @conn, Routes.registration_path(@conn, :new), [method: :get], fn f -> %>
     <%= submit "Register", class: "button" %>
  <% end %>

